body{
  background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/aca1b7d293750103b254750c5c8862e0f1dfbf6f/stars_space_darkness_night_black_sky_background_hd_space-1280x720.jpg');
 height:4600px;
} 

div#parallax-bg-1{
 position: fixed;
 width: 1200px;
 top: 0;
 left: 50%; 
 margin-left: -600px; 
 z-index: 1;
}

div#parallax-bg-2{
 position: fixed;
 width: 1200px;
 top: 0;
 left: 50%; 
 margin-left: -600px; 
 z-index: 2;
}

div#parallax-bg-3{
 position: fixed;
 width: 960px;
 top: 0;
 left: 50%; 
 margin-left: -470px; 
 z-index: 3;
}

div#parallax-bg-3 div{
 background-repeat:no-repeat;
 position:absolute;
 display:block;
 overflow:hidden;
}


div#bg-3-1{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/aca1b7d293750103b254750c5c8862e0f1dfbf6f/nlo.png');
 width:529px;
 height:757px;
 top:-100px;
 right:100px;
}
div#bg-3-2{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/aca1b7d293750103b254750c5c8862e0f1dfbf6f/meteor.png');
 width:603px;
 height:583px;
 top:1050px;
 right:70px;
}
div#bg-3-3{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/aca1b7d293750103b254750c5c8862e0f1dfbf6f/rocket.png');
 width:446px;
 height:713px;
 top:1800px;
 right:140px;


div#parallax-bg-2 div{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/aca1b7d293750103b254750c5c8862e0f1dfbf6f/stars.png');
 background-repeat:no-repeat;
 position:absolute;
 display:block;
 width:488px;
 height:138px;
 overflow:hidden;
}

div#bg-2-1{
 top:100px;
 left:-310px;
}
div#bg-2-2{
 top:270px;
 right:-70px;
}
div#bg-2-3{
 top:870px;
 left:-300px;
}
div#bg-2-4{
 top:1120px;
 right:-130px;
}
div#bg-2-5{
 top:1620px;
 left:140px;
}
div#bg-2-6{
 top:720px;
 left:340px;
}

div#parallax-bg-1 div{
 background-repeat:no-repeat;
 position:absolute;
 display:block;
 width:488px;
 height:138px;
 overflow:hidden;
}
div#bg-1-1{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/ab84bf669a5020f3dedd4973213780092684ef5d/alien.png');
 top:200px;
 right:450px;
}
div#bg-1-2{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/ab84bf669a5020f3dedd4973213780092684ef5d/alien.png');
 top:420px;
 left:0px;
}
div#bg-1-3{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/ab84bf669a5020f3dedd4973213780092684ef5d/alien.png');
 top:850px;
 right:-290px;
}
div#bg-1-4{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/ab84bf669a5020f3dedd4973213780092684ef5d/alien.png');
 top:1350px;
 left:200px;
}
div#bg-1-5{
 background:url('https://raw.githubusercontent.com/n1mple02/panasyuk/ab84bf669a5020f3dedd4973213780092684ef5d/alien.png');
 top:1200px;
 left:-200px;
}